body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.main-head{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.main-head-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.logo{
    display: flex;
}

.menu-login{
    margin-right: 20px;
}

.open-bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom:  5px;
}

.hamburger-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu .hamburger-list{
    list-style: none;
    padding: 0;
    margin: 80px 0;
}

.hamburger-menu .hamburger-list li{
    padding: 40px;
    border-bottom: 1px solid#555;
}

.hamburger-menu .hamburger-list li a{
    color: #fff;
    text-decoration: none;
}

.hamburger-menu .hamburger-list li a:hover{
    color: rgb(119, 119, 170);
    transition: 0.2s;
}

.hamburger-menu.active{
    transform: translateX(0);
    width: 300px;
}

.close-bar{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.container {
    transition: margin-left 0.3s ease-in-out;
    padding: 15px;
    display: flex;
    flex: 2;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(215, 223, 223);
}

.container-graph{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 10px;
}

.hamburger-menu.active ~ .container {
    margin-left: 300px;
}

/*dropdown */
.menu-login {
    margin-right: 20px;
    position: relative; 
}
  
.dropdown-content {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropbtn{
    background-color: #333;
    color: #f1f1f1;
    border: none;
}

